@keyframes flames {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      opacity: 0.6;
    }
    100% {
      transform: translateY(-40px) scale(1.5);
      opacity: 0;
    }
  }
  
  .burning-button {
    position: relative;
    padding: 10px 20px;
    color: white;
    background-color: grey; /* Diubah menjadi abu-abu */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.7); /* Diubah menjadi abu-abu */
  }
  
  .burning-button:hover {
    background-color: #e64a19; /* Diubah menjadi merah ketika mouse mengarah ke button */
  }
  
  .burning-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(255,165,0,0.5) 0%, rgba(255,69,0,0) 80%);
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.4s ease-in-out;
    animation: flames 1s ease-in-out infinite;
  }
  
  .burning-button:hover::before {
    opacity: 1;
    animation: flames 1s ease-in-out infinite;
  }
  
  .burning-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://t4.ftcdn.net/jpg/04/57/56/69/360_F_457566943_op0H9sFbazKEFVMEHl0uDQ3redg1aIIf.jpg'); /* Transparent flame image */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .burning-button:hover::after {
    opacity: 0.7;
  }